<ion-view view-title="Photo">

  <ion-content>
    <div class="container">
      <div class="row" ng-controller="CameraCtrl">
        <div class="center">
          <button class="button button-positive" ng-click="takePhoto()">
            <i class="icon ion-camera"> &emsp; Scatta una Foto</i>
          </button>
        </div>
      </div>
    </div>

    <div ng-controller="GeoCtrl"></div>

    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder">

      <ion-item ng-repeat="item in items track by $index" class="item-remove-animate">

        <div class="row">
          <div class="col-20">
            <img ng-src="{{item.imgSrc}}" height="48">
          </div>
          <div class="col-40">
            <br>
            <span style="font-size:1.1em;">Data: {{item.dateOfCreation | date:"yyyy-MM-dd H:mm"}}</span>
          </div>
          <div class="col-30">
            <br>
            <span style="font-size:1.1em;">Pos.: {{item.position}}</span>
          </div>
          <div class="col-10">
            <ion-delete-button class="ion-trash-a" ng-click="itemDelete(item)">
            </ion-delete-button>
          </div>
          <div class="col-10">
            <ion-reorder-button class="ion-navicon" on-reorder="itemReorder(item, $fromIndex, $toIndex)">
            </ion-reorder-button>
          </div>
        </div>
<!--
        <img ng-src="{{item.imgSrc}}" height="48">
        &emsp;
        Id: {{item.id}}
    <!- -<input type="text" placeholder="Descrizione" ng-value="item.description" style="font-size:1.05em;">- ->
        Data: {{item.dateOfCreation | date:"yyyy-MM-dd H:mm"}}
        Posizione: {{item.position}}
        </span>

        <ion-delete-button class="ion-trash-a" ng-click="itemDelete(item)">
        </ion-delete-button>

        <!- -
        <ion-option-button class="button-assertive" ng-click="itemEdit(item)">
           Edit
        </ion-option-button>

        <ion-option-button class="button-calm" ng-click="share(item)">
           Share
        </ion-option-button>
        - ->

        <ion-reorder-button class="ion-navicon" on-reorder="itemReorder(item, $fromIndex, $toIndex)">
        </ion-reorder-button>
-->
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
