<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Photo Tab -->
  <ion-tab title="Photo" icon-off="ion-camera" icon-on="ion-camera" href="#/tab/photo">
    <ion-nav-view name="tab-photo"></ion-nav-view>
  </ion-tab>

  <!-- Video Tab -->
  <ion-tab title="Video" icon-off="ion-videocamera" icon-on="ion-videocamera" href="#/tab/video">
    <ion-nav-view name="tab-video"></ion-nav-view>
  </ion-tab>

  <!-- Voice Tab -->
  <ion-tab title="Voice" icon-off="ion-mic-a" icon-on="ion-mic-a" href="#/tab/voice">
    <ion-nav-view name="tab-voice"></ion-nav-view>
  </ion-tab>


</ion-tabs>
