/*
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
*/

.square {
  width: 100% !important;
  height: 0 !important;
}

.big {
  font-size: 8.0em !important;
}

.nowrap {
  white-space: nowrap;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}